{% extends 'base.html' %}

{% block content %}

    <!-- searched output -->
    {% if searchedWord %}
        <h1>You searched for {{ searchedWord }}</h1> 
        <br>

        <!-- searched record output -->
        {% for SearchVenue in SearchVenue %}
            <div class="card">
                <div class="card-header">
                    <strong class="text-uppercase">{{ SearchVenue }}</strong>
                </div>
    
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <ul>
                            {% if SearchVenue.veune_address %}
                                <li>Address: {{ SearchVenue.veune_address }} </li>
                            {% endif %}

                            {% if SearchVenue.veune_zip_code %}
                                <li>Zip Code: {{ SearchVenue.veune_zip_code }} </li>
                            {% endif %}

                            {% if SearchVenue.veune_phone %}
                                <li>Phone: {{ SearchVenue.veune_phone }} </li>
                            {% endif %}

                            {% if SearchVenue.veune_web %}
                                <li>Website: <a href="#">{{ SearchVenue.veune_web }}</a> </li>
                            {% endif %}

                            {% if SearchVenue.veune_email_address %}
                            <li><b>Email:</b> <br>
                                {{ SearchVenue.veune_email_address }}
                            </li>
                            {% endif %}
                            
                            {% if SearchVenue.owner %}
                                <li>Created By: {{ SearchVenue.owner }} </li>
                            {% endif %}
                        </ul>
                    </p> 
                </div>
            </div> 
            <br>
        {% endfor %}  

    {% else %}
        <h1>Hey! You forgot to Enter a word to search for a Venue...</h1>
    {% endif %}

{% endblock %}