{% extends 'base.html' %}

{% block content %}
    
    <center>
        <h1>Login</h1>
        <hr>
        <br>
    </center>
    
    <!-- Messages -->
   

    <!-- Add forms -->
    <form action="" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp" autocomplete="off">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" autocomplete="off">
        </div>

        <input class="btn btn-outline-sucess btn-sm"  type="submit" value="Submit"/>



    </form>
     
    
    


{% endblock %}